.my-tasks-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.creating-a-task-container {
  display: flex;
  flex-direction: column;
  background-color: #131213;
  padding: 20px;
  width: 30%;
  min-height: 100vh;
  font-family: 'Roboto';
  margin-top: none;
}
.create-a-task-heading {
  color: #f3aa4e;
  text-align: center;
  font-weight: 500;
}
.label-and-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.label {
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-right: auto;
  margin-left: 40px;
  margin-bottom: none;
}
.input {
  height: 40px;
  width: 80%;
  color: #64748b;
  margin-top: none;
  padding: 10px;
}
.tags {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: auto;
  margin-left: 40px;
}

.select-tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}
.select-container {
  height: 40px;
  width: 80%;
  padding: 5px;
}
.btn-container {
  text-align: center;
}
.add-task-btn {
  height: 35px;
  width: 120px;
  background-color: #f3aa4e;
  border-radius: 5px;
  color: white;
  border: none;
}
.tags-and-tasks-container {
  background-color: #000000;
  height: 100vh;
  width: 70%;
  padding: 20px;
}
.tags-heading {
  font-weight: 500;
  color: white;
  font-size: 25px;
  margin-top: 25px;
}
.tags-list {
  display: flex;
  align-items: center;
}
.tasks-heading {
  font-weight: 500;
  color: white;
  font-size: 25px;
}
.no-tasks-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.no-task-view-heading {
  color: white;
  font-size: 33px;
  font-weight: 500;
}
